<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Form</strong>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="submit(f)">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
                [(ngModel)]="model.name" #name="ngModel" pattern="[a-zA-Z][a-zA-Z ]+" maxlength="30" required />

              <div class="form-error-messages" *ngIf="name.errors && (name.dirty || name.touched)">
                <p *ngIf="name.errors.required">
                  Name is required
                </p>
                <p *ngIf="name.errors.maxlength">
                  Max length exceeded.
                </p>
                <p *ngIf="name.errors.pattern">
                  Name can't contains numbers and special characters.
                </p>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label for="name">Person of contact</label>
              <input type="text" class="form-control" id="person_contact" name="person_contact"
                placeholder="Enter person of contact" [(ngModel)]="model.person_contact" #person_contact="ngModel"
                pattern="[a-zA-Z][a-zA-Z ]+" maxlength="30" required />

              <div class="form-error-messages"
                *ngIf="person_contact.errors && (person_contact.dirty || person_contact.touched)">
                <p *ngIf="person_contact.errors.required">
                  Person of contact is required
                </p>
                <p *ngIf="person_contact.errors.maxlength">
                  Max length exceeded.
                </p>
                <p *ngIf="person_contact.errors.pattern">
                  Name can't contains numbers and special characters.
                </p>
              </div>
            </div>
          </div>

          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="phone">Telephone Number</label>
              <input type="text" class="form-control" id="phone" placeholder="Enter telephone number" name="phone"
                [(ngModel)]="model.phone" #phone="ngModel" pattern="\d*" maxlength="10" minlength="10" required />
              <div class="form-error-messages" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                <p *ngIf="phone.errors.required">
                  Telephone number is required
                </p>
                <p *ngIf="phone.errors.pattern">
                  Telephone Number is invalid
                </p>
                <p *ngIf="phone.errors.minlength">
                  Telephone Number should contains 10 digit
                </p>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label for="address">Location (City)</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Enter Location"
                [(ngModel)]="model.address" #address="ngModel" required />

              <div class="form-error-messages" *ngIf="address.errors && (address.dirty || address.touched)">
                <p *ngIf="address.errors.required">
                  Location is required
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label for="employees">Number of Employees</label>
              <input type="number" class="form-control" id="employees" placeholder="Enter number of employees"
                name="employees" [(ngModel)]="model.employees" #employees="ngModel" required />
              <div class="form-error-messages" *ngIf="employees.errors && (employees.dirty || employees.touched)">
                <p *ngIf="employees.errors.required">
                  Number of Employees is required
                </p>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col width-80">
              <button type="submit" class="btn btn-primary custom-btn" [disabled]="f.invalid">
                {{ userId === '' ? 'Save' : 'Update' }}
              </button>
              <button type="button" class="btn btn-secondary custom-btn" (click)="cancel()">
                Cancel
              </button>
            </div>

            <div class="col width-20 text-right" *ngIf="userId != ''">
              <i class="fa fa-trash hand custom-icon" aria-hidden="true" (click)="myModal.show()"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="delete()">
          Delete
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--/.col-->